
html, body{
	background: url('../img/lmaomeme.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: -5px;

}

.big-spacer{
	margin-top: 300px; 
	display: block;
}